.block {
    width: 460px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #3fa3b9;
}

a:hover {
    color: #034654;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: rgb(0, 0, 69);
}

/* body {
    background-color: #9acccf;
} */